.profile {
  display: flex;
  width: 100%;
  .img {
    height: 400px;
    width: 400px;
    object-fit: cover; 
    border-radius: 10px;
  }
  .infoContainer {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 20px;
    width: calc(100% - 440px);
    .title {
      text-align: center;
      font-size: 25px;
      font-weight: 500;
      margin-bottom: 50px;
    }
    .feildContainer {
      width: 50%;
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 500;
      padding: 10px 80px;
    }
  }
}